@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: right;
  font-size: 30px;
  margin: 10px;
}

body {
  background-color: yellow;
}

.main {
  margin-top: 60%;
  text-align: center;
  margin-bottom: 5%;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f000;
}
.main > img{
  border-radius: 50%;
}
.func {
  float: left;
  text-align: center;
  margin-top: 0px;
  width: 25%;
}

.func > img {
  width: 30px;
  height: 30px;
}